<% include  ./partials/header %>


 <section id="showcase" class="show-landing">
        
        <div class="container">
      	  
      	  <div class="row">
      	  	

      	  	<div class="col-md-6 col-sm-6">
      	  		 <div class="showcase-left">
      	  	       
          	  	       	<img id="img1" src="/assets/image1.png">
      	  	        	 	
   	     		 </div>
      	  	</div>

      	  	
      	  	<div class="col-md-6 col-sm-6">
      	  		<div class="showcase-right">
      	  		<h1 class="tag-line">Real bookshop with real book people.
</h1>
      	  		<p>just click below botton and find or post any book which you want..</p>
      	  			
      	  		</div>
                
                <br>
      	  		
      	  		<a href="/books" class="btn btn-default btn-lg showcase-btn">Our collections</a>
              <a href="/customize" class="btn btn-default btn-lg showcase-btn">Customize your Own</a>
      	  	</div>

      	  </div>
            
        </div>
    	

    </section>


      <section id="testimonial">

      <div class="container">
      	
      	<p> " A book you finish readind is not the same book 
      	it was before you read it." </p>

        
        <p class="customer"> -lovely mathur</p>

      </div>
    	

   </section>




    <section id="info1">
    	<div class="container">
    	  <div class="row">
    	    


    	    <div class="col-md-6 col-sm-6">

    	      <div class="info-left">
    	      	<img id="img2" src="/assets/image2.png">
    	      </div>
    	    	
    	    </div>
    	  	
            <div class="col-md-6 col-sm-6">
    	    	
    	    	<div class="info-right">
    	    		<h2 class="tag-line" > Welcome to yehBOok </h2>
    	    		<p> At <strong>yehBOok</strong> we will provied you any book at best price at your doorstep whether it is <strong> new or old</strong>.  </p>

    	    		<br>

    	    		<a class="btn btn-default btn-lg">Read More</a>
    	    	</div>

    	    </div>



    	  </div>
    	   	</div>
    </section>



<section id="info2">
    	<div class="container">
    	  <div class="row">
    	    


    	    <div class="col-md-6 col-sm-6">

    	      <div class="info-left">    	    

                    <h2 class="tag-line"> Vision </h2>
    	    		<p>  One day, all children in this nation will have the opportunity to attain an excellent education.  </p>

    	      </div>
    	    	
    	    </div>
    	  	
            <div class="col-md-6 col-sm-6">
    	    	
    	    	<div class="info-right">
    	    		<h2 class="tag-line"> Mission </h2>
    	    		<p> we want to connect all students and local shopkeeper thought yelpcamp. so that specially any student save there time from buying books or bargaining </p>

    	    		<br>

    	    	</div>

    	    </div>



    	  </div>
    		
    	</div>
    </section>


  <section class="section-meals" id="works">
            <ul class="meals-showcase clearfix">
              <li>
                <figure class="meal-photo mealphoto1">
                  <img id="imgSize" src="/assets/1.jpg">
                </figure>
                </li>
              <li>
                <figure class="meal-photo mealphoto2">
                  <img id="imgSize" src="/assets/2.jpg">
                </figure>
                </li>
                <li>
                <figure class="meal-photo mealphoto3">
                  <img id="imgSize" src="/assets/8.jpg">
                </figure>
                </li>
                <li>
                <figure class="meal-photo mealphoto4">
                  <img id="imgSize" src="/assets/4.jpg">
                </figure>
                </li>
                </ul>
                <ul class="meals-showcase clearfix">                
                   <li>
                  <figure class="meal-photo mealphoto5">
                  <img id="imgSize" src="/assets/5.jpg">
                </figure>
                </li>
                <li>
                <figure class="meal-photo mealphoto6">
                  <img id="imgSize" src="/assets/6.jpg">
                </figure>
                </li>
                <li>
                <figure class="meal-photo mealphoto7">
                  <img id="imgSize" src="/assets/7.jpg">
                </figure>
                </li>
                <li>
                <figure class="meal-photo mealphoto8">
                  <img id="imgSize" src="/assets/8.jpg">
                </figure>
                </li>
            </ul>
          

        </section>



<% include  ./partials/footer %>